<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="navbar-brand"><img src="assets/images/PGS_logo.svg" width="80"
                                    height="44" alt="" />
        <span class="navbar-separator"></span>SimpleCMS
      </h1>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" ui-sref="home">Home</a></li>
        <li><a ng-if="$root.loged" ng-repeat="page in vm.main_list" href="" ui-sref="page({pageName: page.link})"> {{page.title}}</a></li>
        <li><a href="#" ui-sref="contact">Kontakt</a></li>
        <li><a href="#" ui-sref="admin" ng-if="$root.loged">Admin Dashboard</a></li>
        <li><a href="#" ui-sref="user" ng-if="$root.loged">User Panel</a></li>
        <li><a href="#" ui-sref="login" ng-if="!$root.loged">Login</a></li>
        <li><a href="#" ui-sref="register" ng-if="!$root.loged">Rejestracja</a></li>
        <li><span class="navbar-separator"></span></li>
        <li><a href="" ng-click="vm.logout()" ng-if="$root.loged">Wyloguj</a></li>
        <!--<li class="dropdown navbar-dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <img class="img-circle" src="assets/images/samplr_user.jpg" alt="">Anna<span class="icon icon-down-open"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
