<h3 class="text-center text-light">Tworzenie nowej strony</h3>
<hr>
<div class="col-md-12" mc-messages></div>
<div class="col-md-8">
  <form role="form" name="new_page.formPage" ng-submit="new_page.addPage(new_page.data)" novalidate>
    <div class="form-group"
         ng-class="{ 'has-error' : new_page.formPage.title.$invalid && !new_page.formPage.title.$pristine }">
      <input type="text" name="title" class="form-control" placeholder="Tytuł strony" ng-model="new_page.data.title"
             required>
      <p ng-show="new_page.formPage.title.$invalid && !new_page.formPage.title.$pristine" class="help-block">Pole
        wymagane!</p>
    </div>
    <div class="input-group"
         ng-class="{ 'has-error' : new_page.formPage.link.$invalid && !new_page.formPage.link.$pristine }">
      #/page/{{new_page.data.link}}
      <input type="text" name="link" class="form-control" placeholder="/podaj link" ng-model="new_page.data.link"
             required
      >
      <p ng-show="new_page.formPage.link.$invalid && !new_page.formPage.link.$pristine" class="help-block">Pole
        wymagane!</p>
    </div>
    <div class="form-group">
      <textarea ui-tinymce="new_page.tinymceOptions" ng-model="new_page.data.content" required></textarea>
    </div>
    <button type="submit" class="btn btn-first pull-right" ng-disabled="new_page.formPage.$invalid">Dodaj strone
    </button>
  </form>
</div>

<a href="" ui-sref="admin.advanced" class="btn btn-second">Zaawansowane tworzenie</a>
