<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="file.cancel()" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title text-semibold">Wybierz pliki do udostepnienia na stronie</h4>
      </div>
      <div class="modal-body table-overflow">
        <div class="row">
          <div class="col-md-12 ">
            <table class="table table-striped table-hover ">
              <thead>
              <tr>
                <th class="text-center"><h5>Plik</h5></th>
                <th class="text-center"><h5>Wybierz</h5></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in file.files_list">
                <td class="text-center"><a
                  ng-href="http://ec2-52-58-109-154.eu-central-1.compute.amazonaws.com:8080/files/{{item.id}}">{{item.name}}</a>
                </td>
                <td class="text-center"><input type="checkbox" class="checkbox-elem" ng-click="file.choose(item, checkbox)" ng-model="checkbox"></input>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="file.cancel()" class="btn btn-third" data-dismiss="modal">
          Nie
        </button>
        <button type="button" ng-click="file.close()" class="btn btn-first" data-dismiss="modal">Tak
        </button>
      </div>
    </div>
  </div>
</div>
