<div class="list-group">
  <p class="list-group-item bg-color">Zakładki</p>
  <a class="list-group-item" href="" ui-sref="admin.new_page">Utwórz nowa strone</a>
  <a class="list-group-item" href="" ui-sref="admin.files">Wyslij pliki</a>
  <!--<a class="list-group-item" href="" ui-sref="admin.text">Statystyki</a>-->

  <a class="list-group-item" href="" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed"
     ng-class="isCollapsed ? '':'active'">Zarządzaj stronami <i class="icon icon-down-open pull-right"></i></a>
  <div class="" href="" uib-collapse="isCollapsed">
    <a class="list-group-item" href="" ui-sref="admin.manage_navbar">Konfiguruj navbar</a>
    <a class="list-group-item" href="" ui-sref="admin.delete_all">Usuwanie stron</a>
    <a class="list-group-item" href="" ui-sref="admin.delete_navbar">Usuwanie stron navbara</a>
  </div>
  <a class="list-group-item" href="" ng-init="collapse = true" ng-click="collapse = !collapse"
     ng-class="collapse ? '':'active'">Uzytkownicy <i class="icon icon-down-open pull-right"></i></a>
  <div class="" href="" uib-collapse="collapse">
    <a class="list-group-item" href="" ui-sref="admin.manage_new_users">Nowi</a>
    <a class="list-group-item" href="" ui-sref="admin.manage_navbar">Kontrola praw dostepu</a>
    <a class="list-group-item" href="" ui-sref="admin.manage_navbar">Statystyki uzytkownikow</a>
  </div>
</div>
<div class="list-group">
  <a class="list-group-item bg-color" ng-init="isOpen = true" ng-click="isOpen = !isOpen">Edytuj strony <i class="pull-right icon icon-search"></i></a>
    <div class="" href="" uib-collapse="isOpen">
      <input class="form-control" ng-model="find" placeholder="Wpisz link strony"></input>
    </div>
    <a ng-repeat="page in leftmenu.pages_list|filter:{link: find}" href="" ui-sref="admin.edit_page({pageName: page.link})" class="list-group-item"> {{page.title}}</a>
</div>
