<div class="container">
  <h3 class="text-center">Twoje zdjecia</h3>
  <div class="row">
    <div class="col-sm-4" ng-repeat="image in gallery.images_list">
      <img ng-src="http://ec2-52-58-109-154.eu-central-1.compute.amazonaws.com:8080/{{image.img}}" class="img-responsive"/>
     </div>
  </div>
</div>

