<h3 class="text-center text-light">Twoje pliki</h3>

<!-- partial-aside.html -->
<div class="col-md-12">
  <div class="col-md-6" ui-view="send"></div>
  <div class="col-md-6" ui-view="get"></div>
</div>
