<h3 class="text-center text-light">Edytuj strone</h3>
<hr>
<div class="col-md-12" mc-messages></div>
<div class="col-md-8">
  <form role="form" name="edit_page.formPage" ng-submit="edit_page.editPage(edit_page.data)" novalidate>
    <div class="form-group"
         ng-class="{ 'has-error' : edit_page.formPage.title.$invalid && !edit_page.formPage.title.$pristine }">
      <input type="text" name="title" class="form-control" placeholder="Tytuł strony" ng-model="edit_page.data.title"
             disabled>
      <p ng-show="edit_page.formPage.title.$invalid && !edit_page.formPage.title.$pristine" class="help-block">Pole
        wymagane!</p>
    </div>
    <div class="input-group"
         ng-class="{ 'has-error' : edit_page.formPage.link.$invalid && !edit_page.formPage.link.$pristine }">
      #/page/{{edit_page.data.link}}
      <input type="text" name="link" class="form-control" placeholder="/podaj link" ng-model="edit_page.data.link"
             disabled
      >
      <p ng-show="edit_page.formPage.link.$invalid && !edit_page.formPage.link.$pristine" class="help-block">Pole
        wymagane!</p>
    </div>
    <div class="form-group">
      <textarea ui-tinymce="edit_page.tinymceOptions" ng-model="edit_page.data.content"></textarea>
    </div>
    <button type="submit" class="btn btn-first pull-right" ng-disabled="edit_page.formPage.$invalid">Zapisz zmiany
    </button>
  </form>
</div>

