<h3 class="text-center text-light">Usun strony</h3>
<div mc-messages></div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">Utworzone strony</h5>
      </div>
      <div class="panel-body">
        <ul dnd-list="deletepage.models.lists.A" class="list-group list-unstyled drag_drop_height">
          <li ng-repeat="page in deletepage.models.lists.A"
              class="list-group-item"
              dnd-draggable="page"
              dnd-moved="deletepage.models.lists.A.splice($index, 1)"
              dnd-effect-allowed="move"
              dnd-selected="deletepage.models.selected = page"
              ng-class="{'list-group-item-success': deletepage.models.selected === page}"
          >
            {{page.title}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-first pull-right" ng-click="deletepage.save()">Zapisz zmiany</button>

<div class="col-md-12">
  <div dnd-list="[]" class="position-vertical-center list-unstyled">
    <img src="../../../../assets/images/can.png" height="100">
  </div>
</div>
