<div class="container-fluid">


  <div class="col-md-6">
    <h3>Kontakt</h3>
    <p class="large text-semibold">Jeśli masz jakieś pytania, skontaktuj się z nami.</p>
    <form class="form-horizontal">
      <div class="margin-bottom-20"><label class="">Imie i nazwisko</label>
        <input class="form-control" placeholder="Imie i nazwisko..">
      </div>
      <div class="margin-bottom-20"><label class="">Email</label>
        <input class="form-control" type="email" placeholder="Email">
      </div>
      <div class="">
        <textarea class="form-control" rows="10" cols="100" placeholder="Pozostaw wiadomość"></textarea>
      </div>
      <button class="margin-top-20 pull-right btn btn-first">Wyślij</button>
    </form>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <p class="large margin-top-80">Nasze placówki:</p>
      <select class="form-control margin-bottom-20" ng-model="contact.placement.selected.adress"
              ng-options="place.adress as place.title for place in contact.placement.place">
      </select>
      </div>
    <div class="col-md-12">
      <ng-map zoom="13" center="{{contact.placement.selected.adress}}" style="height: 400px">
        <marker position="{{contact.placement.selected.adress}}" title="{{contact.placement.selected.adress}}"></marker>
      </ng-map>
      </div>
  </div>
</div>


<file-list></file-list>
