<h4 class="text-center">Wyslij plik</h4>
<button type="file" class="btn btn-first margin-bottom-40" ngf-select="send.UploadFiles($file)" accept="image/*">
  Wybierz
</button>
<div class="upload">
  <div ngf-drop ngf-select ng-model="send.file" class="placeToDrag" ng-change="send.FileDroped(send.file)"
       ngf-drag-over-class="''"
       accept="image/*"
       ngf-pattern="'image/*'"><p class="text-center margin-top-40">Przeciagnij zdjecie</p>
  </div>
</div>
<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

<uib-progressbar ng-hide="send.progress === null" max="max" value="send.progress" class="margin-top-20"><span
  style="color:white; white-space:nowrap;">{{send.progress}} / 100%</span></uib-progressbar>

<div ng-hide="send.errorMsg === null" class="margin-top-20 alert alert-danger">{{send.errorMsg}}</div>
