<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <h3 class="text-left">Admin Panel</h3>

      <left-menu></left-menu>
    </div>
    <div class="col-md-10">
      <ui-view>
        <h3 class="text-left">#Dashboard</h3>
        <div class="row">
          <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">Dzienna liczba wejsc na witryne z ostatniego miesiaca</h5>
              </div>
              <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="adminpage.data"
                        chart-labels="adminpage.labels" chart-legend="true" chart-series="adminpage.series"
                        chart-click="adminpage.onClick">
                </canvas>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="panel-title">Największa liczba wejść na witryne w ostatnim miesiącu w [tys]</h5>
            </div>
            <div class="panel-body">
              <canvas id="pie" class="chart chart-pie" chart-data="adminpage.data_pie"
                      chart-labels="adminpage.labels_pie" chart-legend="true">
              </canvas>
            </div>
          </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5 class="panel-title">Użycie pamięci serwera</h5>
              </div>
              <div class="panel-body">
                <canvas id="doughnut" class="chart chart-doughnut"
                        chart-data="adminpage.data_don" chart-labels="adminpage.labels_don">
                </canvas>
              </div>
            </div>

          </div>
        </div>
      </ui-view>
    </div>
  </div>
</div>
