<div class="container">
  <div class="row">
    <h2 class="text-center text-light">Rejestracja</h2>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <!--<div class="alert alert-success" ng-if="register.register_correct">Rejestracja pomyslna!. <br> <a href="" ui-sref="login">Przejdz do logowania.</a>-->
      <div class="col-md-12" mc-messages></div>
      </div>
    </div>
    <div class="col-md-offset-2 col-md-8">
      <form name="registerForm" class="form-horizontal " ng-submit="register.register(register.data)" novalidate>
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" class="form-control" id="login" ng-model="register.data.login" placeholder="Podaj login"
                 required>
        </div>
        <div class="form-group">
          <label for="password">Hasło</label>
          <input type="password" class="form-control" id="password" ng-model="register.data.password"
                 placeholder="Podaj hasło" required>
        </div>
        <div class="form-group">
          <label for="second_password">Powtórz hasło</label>
          <input type="password" class="form-control" id="second_password" ng-model="register.second_password"
                 placeholder="Powtórz hasło" required>
        </div>
        <button type="submit" class="btn btn-first pull-right" ng-disabled="registerForm.$invalid">Rejestruj</button>
      </form>
    </div>
  </div>
</div>
