<h3 class="text-center">Nowi uzytkownicy</h3>
<div class="container">
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th class="text-center large">Login</th>
      <th class="text-center large">Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in manageusers.new_users">
      <td class="text-center"><p class="large">{{user.login}}</p></td>
      <td class="text-center"><a href="" class=" " ng-click="manageusers.accept(user)">Zaakceptuj</a></td>
    </tr>
    </tbody>
  </table>
</div>
