<div class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="mapscontroller.cancel()" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title text-semibold">Konfiguracja GoogleMaps</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">
            <input ng-model="mapscontroller.data.center" class="form-control" placeholder="Adres"/>
            <input ng-model="mapscontroller.data.width" class="form-control" placeholder="Szerokosc"/>
            <input ng-model="mapscontroller.data.height" class="form-control" placeholder="Wysokosc"/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="mapscontroller.cancel()" class="btn btn-third" data-dismiss="modal">
          Nie
        </button>
        <button type="button" ng-click="mapscontroller.close()" class="btn btn-first" data-dismiss="modal">Tak
        </button>
      </div>
    </div>
  </div>
</div>
