<div class="col-md-12">
  <h3 class="text-center text-light">Tworzenie nowej strony</h3>
  <hr>
  <div mc-messages></div>
  <div class="row">
    <form role="form" name="newadvanced.formPage" ng-submit="newadvanced.addPage(newadvanced.data)" novalidate>
      <div class="form-group"
           ng-class="{ 'has-error' : newadvanced.formPage.title.$invalid && !newadvanced.formPage.title.$pristine }">
        <input type="text" name="title" class="form-control" placeholder="Tytuł strony"
               ng-model="newadvanced.data.title"
               required>
        <p ng-show="newadvanced.formPage.title.$invalid && !newadvanced.formPage.title.$pristine" class="help-block">
          Pole
          wymagane!</p>
      </div>
      <div class="input-group"
           ng-class="{ 'has-error' : newadvanced.formPage.link.$invalid && !newadvanced.formPage.link.$pristine }">
        #/page/{{newadvanced.data.link}}
        <input type="text" name="link" class="form-control" placeholder="/podaj link" ng-model="newadvanced.data.link"
               required
        >
        <p ng-show="newadvanced.formPage.link.$invalid && !newadvanced.formPage.link.$pristine" class="help-block">Pole
          wymagane!</p>
      </div>
      <button type="submit" class="btn btn-first pull-right" ng-disabled="newadvanced.formPage.$invalid">Dodaj strone
      </button>
    </form>
  </div>
  <div class="row">
    <div ng-if="newadvanced.emptyHTML" class="margin-top-30 alert alert-danger">Dodawanie tekstu nie powiodlo sie.
      Sprobuj ponownie.
      Jesli widzisz ten komunikat po raz kolejny sprobuj dodac spacje na poczatku okna edycji
    </div>
  </div>
  <div class="row margin-top-30">
    <button type="button" class="btn btn-second pull-right" ng-click="newadvanced.clearEditor()">Wyczysc edytor</button>

    <div class="thumbnail margin-top-70" id="HeaderEditor" data-drop="true" data-jqyoui-options
         ng-model="newadvanced.page_parts"
         jqyoui-droppable="{onDrop:'newadvanced.dropCallbackHeader'}" style='height:300px;'>
      <h5 class="text-light text-center">Komponenty strony</h5>
      <p class="text-light text-center margin-top-80">Upusc pliki tutaj</p>
      <div class="btn btn-success"
           ng-repeat="part in newadvanced.page_parts" ng-click="newadvanced.Add(part.title)">
        {{part.title}}
      </div>
    </div>

    <div class="well position-toolbar">
      <div class="btn btn-primary" ng-repeat="item in newadvanced.list1" data-drag="true"
           data-jqyoui-options="{revert: 'invalid'}" ng-model="newadvanced.list1"
           jqyoui-draggable="{index:{{$index}}}">{{item.title}}
      </div>
    </div>
  </div>
</div>
