<h3 class="text-center text-light ">Zarzadzaj navbarem</h3>
<div mc-messages></div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">Strony nieprzypisane</h5>
      </div>
      <div class="panel-body">
        <ul dnd-list="managepage.models.lists.A" class="list-group list-unstyled drag_drop_height">
          <li ng-repeat="page in managepage.models.lists.A"
              class="list-group-item"
              dnd-draggable="page"
              dnd-moved="managepage.models.lists.A.splice($index, 1)"
              dnd-effect-allowed="move"
              dnd-selected="managepage.models.selected = page"
              ng-class="{'list-group-item-success': managepage.models.selected === page}"
          >
            {{page.title}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">Górny navbar</h5>
      </div>
      <div class="panel-body">
        <ul dnd-list="managepage.models.lists.B" class="list-group list-unstyled drag_drop_height">
          <li ng-repeat="page in managepage.models.lists.B"
              class="list-group-item"
              dnd-draggable="page"
              dnd-moved="managepage.models.lists.B.splice($index, 1)"
              dnd-effect-allowed="move"
              dnd-selected="managepage.models.selected = page"
              ng-class="{'list-group-item-success': managepage.models.selected === page}"
          >
            {{page.title}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-first pull-right" ng-click="managepage.save()">Zapisz zmiany</button>

<!--<div class="col-md-12">-->
  <!--<div dnd-list="[]" class="col-md-offset-5 col-md-1 list-unstyled">-->
    <!--<img src="../../../../assets/images/can.png" height="100">-->
  <!--</div>-->
<!--</div>-->
