/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

//Import custom variables for bootstrap from, it may look like:
@import "../../bower_components/pgs-bootstrap-theme/src/components/lib/variables";
$assets-path:"../../assets/";
//Import bootstrap (if it’s not imported is not imported another way, or make sure it uses included variables in build process - make sure you have $assets-path set and variables imported before bootstrap-sass;))
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "stylesheet/variables-custom";
@import "stylesheet/main";
@import "stylesheet/buttons";
@import "stylesheet/margins";
@import "stylesheet/drag_drop";
@import "stylesheet/left_menu";
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


//Import theme _main.scss
@import "../../bower_components/pgs-bootstrap-theme/src/components/lib/main";

//import iconfont from your assets folder
@import "../assets/pgs-iconfont/icons-output";
