<div class="modal fade">
  <div class="modal-dialog modal-big">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="tiny.cancel()" data-dismiss="modal"
                aria-hidden="true">&times;</button>
        <h4 class="modal-title text-semibold">Wprowadz zawartosc</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <textarea ui-tinymce="tiny.tinymceOptions" ng-model="tiny.content"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="tiny.cancel()" class="btn btn-third" data-dismiss="modal">
          Nie
        </button>
        <button type="button" ng-click="tiny.close()" class="btn btn-first" data-dismiss="modal">Tak
        </button>
      </div>
    </div>
  </div>
</div>
