<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <form name="loginForm" class="form-horizontal " ng-submit="loginpanel.login(loginpanel.credentials)" novalidate>
        <div class="form-group margin-top-20">
          <div class="alert alert-danger text-center" ng-if="loginpanel.failedlogin == true">Błedny login i/lub hasło! Spróbuj ponownie</div>
        </div>
        <div class="form-group margin-top-20">
          <input class="form-control" ng-model="loginpanel.credentials.login" autofocus="autofocus" placeholder="Login..." required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" ng-model="loginpanel.credentials.password" placeholder="Hasło..." required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-first" ng-disabled="loginForm.$invalid">Zaloguj</button>
          <div ng-hide="loginpanel.loader==false"><i class=" icon-loader animate-spin"></i> <span>W trakcie...</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

