//This template can be edited to improve icons (don't change _icons-output.css)

@font-face {
	font-family: "<%= fontName %>";
	src: url('#{$assets-path}/pgs-iconfont/<%= fontName %>.eot');
	src: url('#{$assets-path}/pgs-iconfont/<%= fontName %>.eot?#iefix') format('eot'),
		url('#{$assets-path}/pgs-iconfont/<%= fontName %>.woff') format('woff'),
		url('#{$assets-path}/pgs-iconfont/<%= fontName %>.ttf') format('truetype'),
		url('#{$assets-path}/pgs-iconfont/<%= fontName %>.svg#<%= fontName %>') format('svg');
}

@mixin <%= cssClass%>-styles {
	font-family: "<%= fontName %>";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
  	display: inline-block;

  	vertical-align: middle;

}

%<%= cssClass%> {
	@include <%= cssClass%>-styles;

}

.<%= cssClass%> {
   display: inline-block;
	font-size: 110%;
   line-height: 1;

}

@function <%= cssClass%>-char($filename) {
	$char: "";
<% _.each(glyphs, function(glyph) { %>
	@if $filename == <%= glyph.fileName %> {
		$char: "\<%= glyph.codePoint %>";
	}<% }); %>

	@return $char;
}

@mixin <%= cssClass%>($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %<%= cssClass%>;
		} @else {
			@include <%= cssClass%>-styles;
		}
		content: <%= cssClass%>-char($filename);
	}
}

<% _.each(glyphs, function(glyph) { %>.<%= cssClass%>-<%= glyph.fileName %> {
	@include <%= cssClass%>(<%= glyph.fileName %>);
}
<% }); %>
