<h3 class="text-center text-light">Usun navbara strony</h3>
<div mc-messages></div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">Utworzone strony</h5>
      </div>
      <div class="panel-body">
        <ul dnd-list="deletenavbar.models.lists.A" class="list-group list-unstyled drag_drop_height">
          <li ng-repeat="page in deletenavbar.models.lists.A"
              class="list-group-item"
              dnd-draggable="page"
              dnd-moved="deletenavbar.models.lists.A.splice($index, 1)"
              dnd-effect-allowed="move"
              dnd-selected="deletenavbar.models.selected = page"
              ng-class="{'list-group-item-success': deletenavbar.models.selected === page}"
          >
            {{page.title}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-first pull-right" ng-click="deletenavbar.save()">Zapisz zmiany</button>

<div class="col-md-12">
    <ul dnd-list=" deletenavbar.models.lists.B" class=" list-unstyled position-vertical-center">
      <img src="../../../../assets/images/can.png" height="100">
    </ul>
</div>
