<ng-map zoom="13" center="{{googlemaps.maps_center}}" style="height:300px">
  <!--<marker position="{{contact.placement.selected.adress}}" title="{{contact.placement.selected.adress}}"></marker>-->
</ng-map>
