<div class="container">
  <div class="row">
    <h4 class="text-center">Lista plikow do pobrania</h4>
    <ul>
      <li ng-repeat="item in file.files_list"><a
        ng-href="http://ec2-52-58-109-154.eu-central-1.compute.amazonaws.com:8080/files/{{item.id}}">{{item.name}}</a></li>
    </ul>
  </div>
</div>
