<h4 class="text-center">Pliki do pobrania
<button type="button" class="btn btn-second pull-right" ng-click="get.reflesh()">Odswiez</button></h4>
<ul>
  <li ng-repeat="file in get.files_list">
    <a ng-href="http://ec2-52-58-109-154.eu-central-1.compute.amazonaws.com:8080/files/{{file.id}}">{{file.name}}</a></li>
</ul>
