.btn-first {
  &,
  &:link,
  &:visited {
    background-color: $orange;
    border: 3px solid $orange;
    color: #fff;
    .bg-color &:not([disabled]) {
      background-color: #fff;
      color: $orange;
    }
  }
  &:active,
  &:hover {
    background-color: $orange-dark;
    box-shadow: none;
    border-color: $orange-dark;
    .bg-color &:not([disabled]) {
      color: #fff;
      background-color: $orange-dark;
      border-color: $orange-dark;
    }
  }
  &[disabled],
  fieldset[disabled] &
  {
    background-color: $gray;
    border: 3px solid $gray;
    opacity: 1;
    color: white;
    .bg-color & {
      background-color: #d7d7d7;
      border-color: #d7d7d7;
    }
  }
}

.btn-second {
  &,
  &:link,
  &:visited {
    background-color: transparent;
    color: $orange;
    border: 3px solid $orange;
    .bg-color &:not([disabled]) {
      color: white;
      border: 3px solid white;
    }
  }
  &:active,
  &:hover {
    color: $orange-dark;
    border: 3px solid $orange-dark;

    .bg-color &:not([disabled]) {
      border: 3px solid $orange-dark;
      color: $orange-dark;
    }
  }
  &[disabled],
  fieldset[disabled] & {
    border-color: $gray;
    color: $gray;
    opacity: 1;
    .bg-color & {
      border-color: #d7d7d7;
      color: #d7d7d7;
    }
  }
}

.btn-third {
  font-size: 14px;
  padding-left: 0;
  padding-right: 0;
  &,
  &:link,
  &:visited {
    background-color: transparent;
    border: none;
    text-decoration: underline;
  }
  &[disabled],
  fieldset[disabled] & {
    color: $gray;
    .bg-color & {
      color: #d7d7d7;
    }
  }
}
