$hr-border: $gray;

$list-group-active-bg: $gray-light;
$list-group-active-border: $gray-light;
$list-group-active-color: $gray-darker;


.modal-big {
  width: 80%;
  height: 70%;
}

.placeToDrag {
  height:100px;
  border: 3px dashed $gray;
}

.table-overflow {
  overflow-y:scroll;
}
.position-toolbar{
  position: fixed;
  bottom: 10px;
  left:50%;
  transform: translateX(-20%);
}
